
  <h2>Feature: <%= feature.name  %></h2> 
    <% if !feature.description.blank?%> 
      <h3>Description: <%= feature.description%></h3>
    <% else %>
      <h3>(No Description)</h3>
    <% end%>
  <h4><%= created_by_at(feature.user, feature)%> </h4><br><br>
  