<h1>Welcome to Group Project Builder!</h1>
<p>
If you've ever had that brief moment where you've thought, "Wow, that's a good idea!", here is where can become a reality.
Of course you can always just write it down or keep it in the back of your head, but that can only go so far whether you eventually forget about it, or just drop the idea due to a lack in motivation.
What makes G.P.B the ideal place to start is that an idea can still be yours but also contributed to and expanded in ways you may have never thought of.
When you start and idea, or "project", it remains yours with a cemented timestamp, but can be built on by others with similar interests or mindsets.
Take an idea you find worth putting out there, let it progress with a community of similar individuals, and watch it evolve into something big and worth making real!
To get started click above and see what's out there or suggest the next big thing!

</p>

