<h1>Your Project Partners</h1>
  <% unless @partners.empty? %>
  <% @partners.each do |partner| %>
    <%= render partial: "partners", locals: {partner: partner} %><br>
    <% end%>
  <% else %>
    <p>You currently have no partners</p>
  <% end %>


<%=  link_to "Find New Partner", new_user_partnership_path%>