<h1>My Projects</h1>

<% @user.projects.each do |p|%>

<h2><%=  link_to p.title, project_path(p) %></h2>

<% end %>

<%= button_to 'New Project', new_project_path, :method => "get" %>

<h1>All Other Projects</h1>

<% Project.all.where_not_mine(@user.id).each do |p|%>

<h2><%=  link_to p.title, project_path(p) %></h2>  
<h4><%= created_by_at(p.owner,p)%></h4>

<% end %>