<h1><%= @project.title %></h1>

<h2>Goal: <%= @project.goal %></h2>

<h3>Features:</h3>

  <ul>
    <% @project.project_features.each do |feat|%>
    <li><%= link_to feat.name, project_feature_path(@project.id) %></li><br>
 </ul>
    <% end %>

<%= button_to "Delete", {action: "destroy"}, method: "delete"  %>