/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require application.css
 */

 body {
    font-family:monospace;
    font-size: x-large;
    

    color: rgb(185, 183, 183);;
    background-color: #2C353C;
    text-align: center;
}
.navbar p {     color: rgb(194, 159, 84);

    font-family: cursive;
    font-weight: bold;
    font-size: large;
    text-align: center;
}


   .partners ul {
       color: rgba(245, 245, 245, 0.653);
       font-size: xx-large;
}
 

body a{
    background-color: rgba(225, 225, 225, 0.653);
    color: black;
    font-size: .8em;
    border: 2px rgb(169, 63, 41) solid; 
    border-radius: 14%;
    margin: .3em ;
}

body  h1, body  h2, body  h3 {
    color:rgb(194, 159, 84);
}

input{ width: 30em;}

  label ,
  input {
    display: inline-block;
  }

 
  form input , form label {
    display: table;
  margin-left: 43%;
}

label {
    text-align: left;}
       
.flash.errors {
    color: red;
}

.flash.notices {
    
    color: green;

}

.field_with_errors, .errors {
    color: red
}

.field_with_errors > input {
    border: solid red 3px;
}

.navbar h1, .navbar h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(194, 159, 84);
    margin: .5em;
}

.navbar h1{font-size: 50px; margin-bottom: 0px !important;}

.navbar {    
   color: white;
   background-color:rgb(92, 48, 48);
   background-clip: padding-box;
   border: none;
   border-bottom: 8px solid #999A9B;
   border-radius: 0;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   padding: 10px ;
   font-family: 'Open Sans', Arial, sans-serif;
   font-size: 1.3rem;
   font-weight: 400;
   line-height: 2;
}
.navbar a {
    background-color: rgba(245, 245, 245, 0.653);
    border: 2px rgb(255, 183, 0) solid; 
    
    padding: 5px;
    display: inline-block;
    width: 5em;
    border-radius: 5rem;
    margin: 2em ;
}